html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-image: url("../imgs/zoo_background.png");
    background-color: #0E0C13;
    font-family: arial, helvetica, sans-serif;
    color: #242424;
    display: flex;
    flex-direction: column;
    height: 3000px;
}

header {
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;

}

@font-face {
    font-family: "button_font";
    src: url(font/Minecraft.ttf) format("truetype");
}

.back_sign {
    height: 200px;
    position: absolute;
    left: 80px;
}

main {
    flex: 1 0 auto;
}

.go_button {
    color: black;
    font-family: button_font;
}

.go_button:hover {
    color: rgb(255, 0, 228);
    cursor: pointer;
}

.go_button_div {
    position: absolute;
    left: 1265px;
    top: 175px;
}

.go_button_div2 {
    position: absolute;
    left: 1265px;
    top: 320px;
}

.tier_button {
    color: black;
}

.tier_button:hover {
    color: blue;
    cursor: pointer;
}


.chicken {
    height: 300px;
    position: absolute;
    top: 360px;
    left: 260px;
}

.doggo {
    height: 300px;
    position: absolute;
    top: 450px;
    left: 1320px;
}

.gans {
    height: 300px;
    position: absolute;
    top: 1025px;
    left: 475px;
}

.elephant {
    height: 300px;
    position: absolute;
    top: 1450px;
    left: 1300px;
}

.monkey {
    height: 300px;
    position: absolute;
    left: 200px;
    top: 1750px;
}

.me {
    height: 250px;
    position: absolute;
    top: 1175px;
    left: 1220px;
}

.einhorn {
    height: 300px;
    position: absolute;
    left: 1350px;
    top: 2300px;
}